.crud-instance-wrapper {

    .crud-m-0 {
        margin: 0;
    }

    // Sets the top margin to 0.
    .crud-mt-0 {
        margin-top: 0;
    }

    // Sets the bottom margin to 0.
    .crud-mb-0 {
        margin-bottom: 0;
    }

    .crud-pull-right {
        float: right;
    }

}