$font-family:
    // Safari for OS X and iOS (San Francisco)
    -apple-system,
        // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
    system-ui,
        // Chrome < 56 for OS X (San Francisco)
    BlinkMacSystemFont,
        // Windows
    "Segoe UI",
        // Android
    "Roboto",
        // Basic web fallback
    "Helvetica Neue", Arial, sans-serif !default;

$std_text_color_bright: #f0f0f0;
$std_text_color_dark: #1d1d1d;


$default_color: #e2e2e2;
$default_color_d5: darken($default_color, 5%);
$default_color_d10: darken($default_color, 10%);



$primary_color_light: #cce5ff;
$primary_color_light_d5: darken($primary_color_light, 5%);
$primary_color_light_d7: darken($primary_color_light, 7%);
$primary_color_light_d10: darken($primary_color_light, 10%);

$primary_color_dim: #0275d8;
$primary_color_dim_d5: darken($primary_color_dim, 5%);
$primary_color_dim_d7: darken($primary_color_dim, 7%);
$primary_color_dim_d10: darken($primary_color_dim, 10%);

$primary_color_bright: #007bff;
$primary_color_bright_d5: darken($primary_color_bright, 5%);
$primary_color_bright_d7: darken($primary_color_bright, 7%);
$primary_color_bright_d10: darken($primary_color_bright, 10%);



$secondary_color_light: #e7e7e7;
$secondary_color_light_d5: darken($secondary_color_light, 5%);
$secondary_color_light_d7: darken($secondary_color_light, 7%);
$secondary_color_light_d10: darken($secondary_color_light, 10%);

$secondary_color_dim: #f0f0f0;
$secondary_color_dim_d5: darken($secondary_color_dim, 5%);
$secondary_color_dim_d7: darken($secondary_color_dim, 7%);
$secondary_color_dim_d10: darken($secondary_color_dim, 10%);

$secondary_color_bright: white;
$secondary_color_bright_d5: darken($secondary_color_bright, 5%);
$secondary_color_bright_d7: darken($secondary_color_bright, 7%);
$secondary_color_bright_d10: darken($secondary_color_bright, 10%);



$info_color_light: #d1ecf1;
$info_color_light_d5: darken($info_color_light, 5%);
$info_color_light_d7: darken($info_color_light, 7%);
$info_color_light_d10: darken($info_color_light, 10%);

$info_color_dim: #d9edf7; // ?
$info_color_dim_d5: darken($info_color_dim, 5%);
$info_color_dim_d7: darken($info_color_dim, 7%);
$info_color_dim_d10: darken($info_color_dim, 10%);

$info_color_bright: #d9edf7; // ?
$info_color_bright_d5: darken($info_color_bright, 5%);
$info_color_bright_d7: darken($info_color_bright, 7%);
$info_color_bright_d10: darken($info_color_bright, 10%);



$success_color_light: #d4edda;
$success_color_light_d5: darken($success_color_light, 5%);
$success_color_light_d7: darken($success_color_light, 7%);
$success_color_light_d10: darken($success_color_light, 10%);

$success_color_dim: #5cb85c;
$success_color_dim_d5: darken($success_color_dim, 5%);
$success_color_dim_d7: darken($success_color_dim, 7%);
$success_color_dim_d10: darken($success_color_dim, 10%);

$success_color_bright: #28a745;
$success_color_bright_d5: darken($success_color_bright, 5%);
$success_color_bright_d7: darken($success_color_bright, 7%);
$success_color_bright_d10: darken($success_color_bright, 10%);



$warning_color_light: #fff3cd;
$warning_color_light_d5: darken($warning_color_light, 5%);
$warning_color_light_d7: darken($warning_color_light, 7%);
$warning_color_light_d10: darken($warning_color_light, 10%);

$warning_color_dim: #f0ad4e;
$warning_color_dim_d5: darken($warning_color_dim, 5%);
$warning_color_dim_d7: darken($warning_color_dim, 7%);
$warning_color_dim_d10: darken($warning_color_dim, 10%);

$warning_color_bright: #ffc107;
$warning_color_bright_d5: darken($warning_color_bright, 5%);
$warning_color_bright_d7: darken($warning_color_bright, 7%);
$warning_color_bright_d10: darken($warning_color_bright, 10%);



$danger_color_light: #f8d7da;
$danger_color_light_d5: darken($danger_color_light, 5%);
$danger_color_light_d7: darken($danger_color_light, 7%);
$danger_color_light_d10: darken($danger_color_light, 10%);

$danger_color_dim: #d9534f;
$danger_color_dim_d5: darken($danger_color_dim, 5%);
$danger_color_dim_d7: darken($danger_color_dim, 7%);
$danger_color_dim_d10: darken($danger_color_dim, 10%);

$danger_color_bright: #dc3545;
$danger_color_bright_d5: darken($danger_color_bright, 5%);
$danger_color_bright_d7: darken($danger_color_bright, 7%);
$danger_color_bright_d10: darken($danger_color_bright, 10%);