.crud-animated-switch {
    display: inline-block;
    vertical-align: top;

    > input[type="checkbox"] {
        display: none;
    }

    > label {
        cursor: pointer;
        position: relative;
        width: 3.5em;
        height: 2em;
        //top: .3em;
        margin: 0;

        &:before {
            background: #e1e1e1;
            box-shadow: inset 0 0 0.6em rgba(0, 0, 0, 0.2);
            border-radius: .6em;
            content: '';
            position: absolute;
            transition: all 0.3s ease-in-out;
            width: 2.8em;
            height: 1.2em;
            left: .4em;
            top: .4em;
        }

        &:after {
            background: white;
            border-radius: 1em;
            box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.4);
            content: '';
            position: absolute;
            left: .2em;
            top: .2em;
            transition: all 0.2s ease-in-out;
            width: 1.6em;
            height: 1.6em;
        }
    }
}

.crud-animated-switch > input[type="checkbox"]:checked + label::before {
    background: #e1e1e1;
}

.crud-animated-switch > input[type="checkbox"]:checked + label::after {
    background: #41ae3c;
    left: 1.6em;
}