.crud-instance-wrapper {

    .select2 {
        &.select2-container {
            //min-height: 33px !important;
            min-height: 2.75em;
        }

        &.select2-container.select2-container--default {
            border: 1px solid rgba(0,0,0,.15);
            border-radius: .25em;
            z-index: 2;
        }

        &.select2-container.select2-container--default.select2-container--open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .select2-selection {
            border: 0; //!important;
            //min-height: 40px !important;
            height: inherit; //!important;
            background-color: unset;
        }
    }





    .select2-selection__rendered {
        color: #55595c !important;
        padding: .5rem .75rem !important;
        padding-right: 3rem !important;
        line-height: inherit !important;
    }

    .select2-selection__rendered .select2-selection__clear {
        margin-right: 13px !important;
    }

    .select2-selection--multiple .select2-selection__rendered {
        padding: 0 5px !important;
    }

    .select2-selection__choice {
        margin-top: 5px !important;
        margin-right: 5px !important;
        margin-bottom: 5px !important;
        border: 0 !important;
        line-height: 28px !important;
    }

    .select2-selection--multiple .select2-selection__choice {
        line-height: 30px !important;
    }

    .select2-selection__arrow {
        height: 100% !important;
        width: 3rem !important;
        top: 0 !important;
        right: 0 !important;
    }

}