$input_height: 2.75em;
$arrow_width: 2.5em;

.crud-instance-wrapper {

    .sp-replacer {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: .25em;
        height: $input_height;
        margin: 0;
        padding: .25em 0 .25em .25em;
        background-color: white;
        color: initial;

        .sp-preview {
            display: inline-flex;
            float: none;
            width: calc(100% - #{$arrow_width});
            height: 100%;
            border: 0;
            margin: 0;
            padding: 0;
        }

        .sp-dd {
            display: inline-flex;
            float: none;
            align-items: center;
            justify-content: center;
            font-size: .8em;
            width: $arrow_width;
            height: 100%;
            cursor: pointer;
            margin: auto;
            padding: 0;
            line-height: inherit;
        }
    }

    .sp-container {
        background-color: #ececec;
        border: 1px solid darkgrey;
        border-radius: .5em;
        padding: 0;

        /*
         * The original value of 9999994 seems a little bit over the top ^^
         * And the container would then actually overlap fullscreen instances.
         * A z-index of ~500 should suffice.
         */
        z-index: 500;

        font-size: .8em;
        * {
            font-size: inherit;
        }

        // General reset.
        .sp-palette-container,
        .sp-picker-container {
            border: 0;
            padding: 0;
            margin: 0;
            max-width: unset;
        }


        .sp-palette-container {
            $palette-padding: .75em;
            $thumb-el-size: 2em;
            $thumb-el-gutter: 0.0em;

            padding: $palette-padding;

            .sp-palette {
                max-width: unset;

                .sp-palette-row {
                    .sp-thumb-el {
                        width: $thumb-el-size;
                        height: $thumb-el-size;
                        margin: .0em .0em;
                        border: 0;
                    }

                    &.sp-palette-row-selection {
                        .sp-thumb-el {
                            margin-top: 0.3em;
                        }
                    }
                }
            }
        }


        .sp-picker-container {
            $picker-padding: .75em;

            width: 22em;
            padding: $picker-padding;

            .sp-fill {
                display: none;
                padding: 0;
                margin: 0;
            }

            .sp-top-inner {
                position: relative;
            }

            .sp-color, .sp-hue, .sp-clear {
                border: 0;
            }

            .sp-color {
                position: relative;
                float: left;
                width: 16em;
                height: 16em;

                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                .sp-dragger {
                    border-radius: .4em;
                    height: .6em;
                    width: .6em;
                    border: 1px solid black;
                    background: white;
                    opacity: .8;
                    cursor: default;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            .sp-clear {
                display: inline-block;
                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 3em;
                width: 3em;
                margin-left: 1em;
            }

            .sp-hue {
                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                cursor: default;

                .sp-slider {
                    position: relative;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    cursor: default;
                    height: .5em;
                    margin-left: -.2em;
                    margin-right: -.2em;
                    border: 1px solid black;
                    background: white;
                    opacity: .7;
                }
            }

            .sp-input-container {
                float: right;
                width: 10em;
                margin: 0;

                input {
                    border: 1px solid darkgrey;
                    border-radius: 0;
                }
            }

            .sp-initial {
                float: left;
                border: 0;
            }
        }
        &.sp-clear-enabled .sp-hue { // clear-enabled is a "container" modifier
            display: inline-block;
            height: 13em;
            width: 3em;
            margin-left: 1em;
        }

    }


}
