/**
 * --------------------------------------------------
 *  Main CSS file of the CRUD-System.
 * --------------------------------------------------
 */

@import "partials/mixins/crud_mixins";

// CRUD scss variables.
@import "partials/modules/core/crud_variables";

// Reset elements.
@import "partials/modules/core/crud_reset";

.crud-instance-wrapper {
    font-family: $font-family;

    // Modify this value to increase / decrease the overall size of the rendered crud instances.
    //font-size: .9rem;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}


.crud-instance {
    position: relative;
    // Make changes visible (eg. font-size)
    transition: all .75s ease-in-out;

    background-color: white;
    box-shadow: 2px 2px 15px -2px rgb(50, 50, 50);
    border: 1px solid #dcdcdc;

    &.crud-fullscreen {
        position: fixed;
        overflow: auto;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .crud-header {
        padding: .4em .75em;
        font-size: 1.25em;
        font-weight: 400;
        background-color: #eaeaea;
        border-bottom: 1px solid #b9b9b9;

        .crud-icon-list {
            list-style: none;
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: row-reverse;

            text-align: center;

            .crud-icon-list-item {
                min-width: 2.3em;
                margin: -.1em 0;
                padding: .1em .6em;
                color: #424242;
                cursor: pointer;

                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                //border: 1px solid transparent;
                //border-radius: .3em;
                border-bottom: .1em solid transparent;

                &:hover {
                    border-color: inherit;
                }
            }
        }
    }

    .crud-body {
        margin: .75em .75em;
    }

    .crud-footer {
        padding: .4em .75em;
        font-size: 1em;
        font-weight: 400;
        background-color: #eaeaea;
        border-top: 1px solid #b9b9b9;
    }
}

.crud-overlay {
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-transition: background-color 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out;
    -o-transition: background-color 500ms ease-in-out;
    transition: background-color 250ms ease-in-out;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: block;

    &.active {
        background-color: rgba(255, 255, 255, 1.0);
    }
}

.crud-overlay-spinner {
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    z-index: 1001;
    color: rgba(100, 100, 100, 0.7);
    display: none;
}

.crud-btn-column {
    width: 1%;
    white-space: nowrap;
}

.crud-entry {
    padding-top: 1em;
    padding-bottom: 1.25em;
    font-size: 2em;
    font-weight: 200;
}

.ui-sortable-helper {
    display: table;
}

.crud-display-block {
    display: block;
}

.crud-field-info {
    font-size: 0.8em;
    color: #565656;
    margin-bottom: 0.4em;
    clear: both;
}

.crud-field-section {
    margin-bottom: 1em;
}

.crud-field-section-header {
    color: #373737;
    font-size: 1.8em;
    font-weight: 500;
    border-bottom: 1px solid #373737;
    margin-bottom: .5em;
}

td.crud-entry-deleted {
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

td.crud-entry-deleted .fa {
    font-size:  1.2em;
}

.crud-search-tabs {
    margin: 10px 0;
}

.crud-search-tabs ul li:not(:last-child) {
    margin-right: 0.5em;
}

.crud-search-tab {
    background-color: #e2e2e2;
    border-bottom: 1px solid gray;
    border-radius: 0;
}

.crud-search-tab:hover {
    background-color: #c5c5c5;
}

.crud-search-tab .nav-link {
    color: inherit;
    cursor: default;
}

.crud-search-tab.active {
    background-color: #0275d8;
    border-bottom: 1px solid #0275d8;
}

.crud-search-tab.active:hover {
    background-color: #027be4;
    border-bottom: 1px solid #027be4;
}

.crud-search-tab.active .nav-link {
    color: white;
}

.crud-display-none {
    display: none;
}

.crud-file-select-info-clear {
    position: absolute;
    right: 1em;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
}

.crud-image {
    max-width: 100%;
    height: auto;
}

.crud-list-image {
    max-height: 6.5em;
    margin: -.4em;
}

.crud-color-preview {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 8em;
    width: 40%;
    border-radius: 1.75em;
    margin-bottom: .2em;
    line-height: 1.75em;
}

.crud-texteditor-view {
    border: 1px solid lightgray;
    padding: .5em;
}

.crud-backtrace {
    font-size: .8em;
}

.crud-search-container {
    display: none;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid grey;
    background-color: lightgrey;

    &.hidden {
        display: none;
    }
}
div[data-fields] {
    display: block;
    width: 100%;
}

/**
 * Partials:
 */

// Core modules
@import "partials/modules/core/crud_flexbox_grid";

// Standard modules
@import "partials/modules/crud_alert";
@import "partials/modules/crud_btn";
@import "partials/modules/crud_code";
@import "partials/modules/crud_input";
@import "partials/modules/crud_modal";
@import "partials/modules/crud_nav";
@import "partials/modules/crud_signature";
@import "partials/modules/crud_table";
@import "partials/modules/crud_tooltip";
@import "partials/modules/crud_validation";

// Miscellaneous modules
@import "partials/modules/miscellaneous/crud_animated_switch";

// Plugin style overrides
@import "partials/plugin_overrides/select2_overrides";
@import "partials/plugin_overrides/spectrum_overrides";
@import "partials/plugin_overrides/tinymce_overrides";

// Helpers should override anything!
@import "partials/modules/core/crud_helpers";