/**
 * --------------------------------------------------
 *  Main CSS file of the CRUD-System.
 * --------------------------------------------------
 */
.crud-instance-wrapper *, .crud-instance-wrapper ::after, .crud-instance-wrapper ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
.crud-instance-wrapper label {
  display: inline-block;
  margin-bottom: .2em; }
.crud-instance-wrapper a:hover {
  color: #548eca;
  text-decoration: none;
  cursor: pointer; }
.crud-instance-wrapper button, .crud-instance-wrapper input {
  overflow: visible; }
.crud-instance-wrapper button, .crud-instance-wrapper input, .crud-instance-wrapper select, .crud-instance-wrapper textarea {
  line-height: inherit; }
.crud-instance-wrapper button, .crud-instance-wrapper input, .crud-instance-wrapper optgroup, .crud-instance-wrapper select, .crud-instance-wrapper textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: inherit;
  margin: 0; }
.crud-instance-wrapper button, .crud-instance-wrapper select {
  text-transform: none; }
.crud-instance-wrapper button, .crud-instance-wrapper input {
  overflow: visible; }
.crud-instance-wrapper a, .crud-instance-wrapper area, .crud-instance-wrapper button, .crud-instance-wrapper input, .crud-instance-wrapper label, .crud-instance-wrapper select, .crud-instance-wrapper summary, .crud-instance-wrapper textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }
.crud-instance-wrapper input:focus, .crud-instance-wrapper select:focus, .crud-instance-wrapper textarea:focus, .crud-instance-wrapper button:focus {
  outline: none; }
.crud-instance-wrapper table {
  line-height: inherit; }

.crud-instance-wrapper {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5; }

.crud-instance {
  position: relative;
  transition: all .75s ease-in-out;
  background-color: white;
  box-shadow: 2px 2px 15px -2px #323232;
  border: 1px solid #dcdcdc; }
  .crud-instance.crud-fullscreen {
    position: fixed;
    overflow: auto;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .crud-instance .crud-header {
    padding: .4em .75em;
    font-size: 1.25em;
    font-weight: 400;
    background-color: #eaeaea;
    border-bottom: 1px solid #b9b9b9; }
    .crud-instance .crud-header .crud-icon-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row-reverse;
      text-align: center; }
      .crud-instance .crud-header .crud-icon-list .crud-icon-list-item {
        min-width: 2.3em;
        margin: -.1em 0;
        padding: .1em .6em;
        color: #424242;
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-bottom: .1em solid transparent; }
        .crud-instance .crud-header .crud-icon-list .crud-icon-list-item:hover {
          border-color: inherit; }
  .crud-instance .crud-body {
    margin: .75em .75em; }
  .crud-instance .crud-footer {
    padding: .4em .75em;
    font-size: 1em;
    font-weight: 400;
    background-color: #eaeaea;
    border-top: 1px solid #b9b9b9; }

.crud-overlay {
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background-color 500ms ease-in-out;
  -moz-transition: background-color 500ms ease-in-out;
  -o-transition: background-color 500ms ease-in-out;
  transition: background-color 250ms ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: block; }
  .crud-overlay.active {
    background-color: white; }

.crud-overlay-spinner {
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  z-index: 1001;
  color: rgba(100, 100, 100, 0.7);
  display: none; }

.crud-btn-column {
  width: 1%;
  white-space: nowrap; }

.crud-entry {
  padding-top: 1em;
  padding-bottom: 1.25em;
  font-size: 2em;
  font-weight: 200; }

.ui-sortable-helper {
  display: table; }

.crud-display-block {
  display: block; }

.crud-field-info {
  font-size: 0.8em;
  color: #565656;
  margin-bottom: 0.4em;
  clear: both; }

.crud-field-section {
  margin-bottom: 1em; }

.crud-field-section-header {
  color: #373737;
  font-size: 1.8em;
  font-weight: 500;
  border-bottom: 1px solid #373737;
  margin-bottom: .5em; }

td.crud-entry-deleted {
  padding: 0;
  vertical-align: middle;
  text-align: center; }

td.crud-entry-deleted .fa {
  font-size: 1.2em; }

.crud-search-tabs {
  margin: 10px 0; }

.crud-search-tabs ul li:not(:last-child) {
  margin-right: 0.5em; }

.crud-search-tab {
  background-color: #e2e2e2;
  border-bottom: 1px solid gray;
  border-radius: 0; }

.crud-search-tab:hover {
  background-color: #c5c5c5; }

.crud-search-tab .nav-link {
  color: inherit;
  cursor: default; }

.crud-search-tab.active {
  background-color: #0275d8;
  border-bottom: 1px solid #0275d8; }

.crud-search-tab.active:hover {
  background-color: #027be4;
  border-bottom: 1px solid #027be4; }

.crud-search-tab.active .nav-link {
  color: white; }

.crud-display-none {
  display: none; }

.crud-file-select-info-clear {
  position: absolute;
  right: 1em;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%); }

.crud-image {
  max-width: 100%;
  height: auto; }

.crud-list-image {
  max-height: 6.5em;
  margin: -.4em; }

.crud-color-preview {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 8em;
  width: 40%;
  border-radius: 1.75em;
  margin-bottom: .2em;
  line-height: 1.75em; }

.crud-texteditor-view {
  border: 1px solid lightgray;
  padding: .5em; }

.crud-backtrace {
  font-size: .8em; }

.crud-search-container {
  display: none;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid grey;
  background-color: lightgrey; }
  .crud-search-container.hidden {
    display: none; }

div[data-fields] {
  display: block;
  width: 100%; }

/**
 * Partials:
 */
.crud-container, .crud-container-fluid {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2em;
  padding-left: 2em; }

.crud-row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5em;
  margin-left: -0.5em; }
  .crud-row.crud-row-flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .crud-row.crud-row-flex-col-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }

.crud-col, .crud-col-sm-1, .crud-col-sm-2, .crud-col-sm-3, .crud-col-sm-4, .crud-col-sm-5, .crud-col-sm-6, .crud-col-sm-7, .crud-col-sm-8, .crud-col-sm-9, .crud-col-sm-10, .crud-col-sm-11, .crud-col-sm-12, .crud-col-md-1, .crud-col-md-2, .crud-col-md-3, .crud-col-md-4, .crud-col-md-5, .crud-col-md-6, .crud-col-md-7, .crud-col-md-8, .crud-col-md-9, .crud-col-md-10, .crud-col-md-11, .crud-col-md-12, .crud-col-lg-1, .crud-col-lg-2, .crud-col-lg-3, .crud-col-lg-4, .crud-col-lg-5, .crud-col-lg-6, .crud-col-lg-7, .crud-col-lg-8, .crud-col-lg-9, .crud-col-lg-10, .crud-col-lg-11, .crud-col-lg-12, .crud-col-xl-1, .crud-col-xl-2, .crud-col-xl-3, .crud-col-xl-4, .crud-col-xl-5, .crud-col-xl-6, .crud-col-xl-7, .crud-col-xl-8, .crud-col-xl-9, .crud-col-xl-10, .crud-col-xl-11, .crud-col-xl-12, .crud-col-1, .crud-col-2, .crud-col-3, .crud-col-4, .crud-col-5, .crud-col-6, .crud-col-7, .crud-col-8, .crud-col-9, .crud-col-10, .crud-col-11, .crud-col-12, .crud-col-offset-0, .crud-col-offset-1, .crud-col-offset-2, .crud-col-offset-3, .crud-col-offset-4, .crud-col-offset-5, .crud-col-offset-6, .crud-col-offset-7, .crud-col-offset-8, .crud-col-offset-9, .crud-col-offset-10, .crud-col-offset-11 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding-right: 0.5em;
  padding-left: 0.5em; }
  .crud-col.crud-col-flex-col-reverse, .crud-col-flex-col-reverse.crud-col-sm-1, .crud-col-flex-col-reverse.crud-col-sm-2, .crud-col-flex-col-reverse.crud-col-sm-3, .crud-col-flex-col-reverse.crud-col-sm-4, .crud-col-flex-col-reverse.crud-col-sm-5, .crud-col-flex-col-reverse.crud-col-sm-6, .crud-col-flex-col-reverse.crud-col-sm-7, .crud-col-flex-col-reverse.crud-col-sm-8, .crud-col-flex-col-reverse.crud-col-sm-9, .crud-col-flex-col-reverse.crud-col-sm-10, .crud-col-flex-col-reverse.crud-col-sm-11, .crud-col-flex-col-reverse.crud-col-sm-12, .crud-col-flex-col-reverse.crud-col-md-1, .crud-col-flex-col-reverse.crud-col-md-2, .crud-col-flex-col-reverse.crud-col-md-3, .crud-col-flex-col-reverse.crud-col-md-4, .crud-col-flex-col-reverse.crud-col-md-5, .crud-col-flex-col-reverse.crud-col-md-6, .crud-col-flex-col-reverse.crud-col-md-7, .crud-col-flex-col-reverse.crud-col-md-8, .crud-col-flex-col-reverse.crud-col-md-9, .crud-col-flex-col-reverse.crud-col-md-10, .crud-col-flex-col-reverse.crud-col-md-11, .crud-col-flex-col-reverse.crud-col-md-12, .crud-col-flex-col-reverse.crud-col-lg-1, .crud-col-flex-col-reverse.crud-col-lg-2, .crud-col-flex-col-reverse.crud-col-lg-3, .crud-col-flex-col-reverse.crud-col-lg-4, .crud-col-flex-col-reverse.crud-col-lg-5, .crud-col-flex-col-reverse.crud-col-lg-6, .crud-col-flex-col-reverse.crud-col-lg-7, .crud-col-flex-col-reverse.crud-col-lg-8, .crud-col-flex-col-reverse.crud-col-lg-9, .crud-col-flex-col-reverse.crud-col-lg-10, .crud-col-flex-col-reverse.crud-col-lg-11, .crud-col-flex-col-reverse.crud-col-lg-12, .crud-col-flex-col-reverse.crud-col-xl-1, .crud-col-flex-col-reverse.crud-col-xl-2, .crud-col-flex-col-reverse.crud-col-xl-3, .crud-col-flex-col-reverse.crud-col-xl-4, .crud-col-flex-col-reverse.crud-col-xl-5, .crud-col-flex-col-reverse.crud-col-xl-6, .crud-col-flex-col-reverse.crud-col-xl-7, .crud-col-flex-col-reverse.crud-col-xl-8, .crud-col-flex-col-reverse.crud-col-xl-9, .crud-col-flex-col-reverse.crud-col-xl-10, .crud-col-flex-col-reverse.crud-col-xl-11, .crud-col-flex-col-reverse.crud-col-xl-12, .crud-col-flex-col-reverse.crud-col-1, .crud-col-flex-col-reverse.crud-col-2, .crud-col-flex-col-reverse.crud-col-3, .crud-col-flex-col-reverse.crud-col-4, .crud-col-flex-col-reverse.crud-col-5, .crud-col-flex-col-reverse.crud-col-6, .crud-col-flex-col-reverse.crud-col-7, .crud-col-flex-col-reverse.crud-col-8, .crud-col-flex-col-reverse.crud-col-9, .crud-col-flex-col-reverse.crud-col-10, .crud-col-flex-col-reverse.crud-col-11, .crud-col-flex-col-reverse.crud-col-12, .crud-col-flex-col-reverse.crud-col-offset-0, .crud-col-flex-col-reverse.crud-col-offset-1, .crud-col-flex-col-reverse.crud-col-offset-2, .crud-col-flex-col-reverse.crud-col-offset-3, .crud-col-flex-col-reverse.crud-col-offset-4, .crud-col-flex-col-reverse.crud-col-offset-5, .crud-col-flex-col-reverse.crud-col-offset-6, .crud-col-flex-col-reverse.crud-col-offset-7, .crud-col-flex-col-reverse.crud-col-offset-8, .crud-col-flex-col-reverse.crud-col-offset-9, .crud-col-flex-col-reverse.crud-col-offset-10, .crud-col-flex-col-reverse.crud-col-offset-11 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .crud-col.crud-col-flex-row-reverse, .crud-col-flex-row-reverse.crud-col-sm-1, .crud-col-flex-row-reverse.crud-col-sm-2, .crud-col-flex-row-reverse.crud-col-sm-3, .crud-col-flex-row-reverse.crud-col-sm-4, .crud-col-flex-row-reverse.crud-col-sm-5, .crud-col-flex-row-reverse.crud-col-sm-6, .crud-col-flex-row-reverse.crud-col-sm-7, .crud-col-flex-row-reverse.crud-col-sm-8, .crud-col-flex-row-reverse.crud-col-sm-9, .crud-col-flex-row-reverse.crud-col-sm-10, .crud-col-flex-row-reverse.crud-col-sm-11, .crud-col-flex-row-reverse.crud-col-sm-12, .crud-col-flex-row-reverse.crud-col-md-1, .crud-col-flex-row-reverse.crud-col-md-2, .crud-col-flex-row-reverse.crud-col-md-3, .crud-col-flex-row-reverse.crud-col-md-4, .crud-col-flex-row-reverse.crud-col-md-5, .crud-col-flex-row-reverse.crud-col-md-6, .crud-col-flex-row-reverse.crud-col-md-7, .crud-col-flex-row-reverse.crud-col-md-8, .crud-col-flex-row-reverse.crud-col-md-9, .crud-col-flex-row-reverse.crud-col-md-10, .crud-col-flex-row-reverse.crud-col-md-11, .crud-col-flex-row-reverse.crud-col-md-12, .crud-col-flex-row-reverse.crud-col-lg-1, .crud-col-flex-row-reverse.crud-col-lg-2, .crud-col-flex-row-reverse.crud-col-lg-3, .crud-col-flex-row-reverse.crud-col-lg-4, .crud-col-flex-row-reverse.crud-col-lg-5, .crud-col-flex-row-reverse.crud-col-lg-6, .crud-col-flex-row-reverse.crud-col-lg-7, .crud-col-flex-row-reverse.crud-col-lg-8, .crud-col-flex-row-reverse.crud-col-lg-9, .crud-col-flex-row-reverse.crud-col-lg-10, .crud-col-flex-row-reverse.crud-col-lg-11, .crud-col-flex-row-reverse.crud-col-lg-12, .crud-col-flex-row-reverse.crud-col-xl-1, .crud-col-flex-row-reverse.crud-col-xl-2, .crud-col-flex-row-reverse.crud-col-xl-3, .crud-col-flex-row-reverse.crud-col-xl-4, .crud-col-flex-row-reverse.crud-col-xl-5, .crud-col-flex-row-reverse.crud-col-xl-6, .crud-col-flex-row-reverse.crud-col-xl-7, .crud-col-flex-row-reverse.crud-col-xl-8, .crud-col-flex-row-reverse.crud-col-xl-9, .crud-col-flex-row-reverse.crud-col-xl-10, .crud-col-flex-row-reverse.crud-col-xl-11, .crud-col-flex-row-reverse.crud-col-xl-12, .crud-col-flex-row-reverse.crud-col-1, .crud-col-flex-row-reverse.crud-col-2, .crud-col-flex-row-reverse.crud-col-3, .crud-col-flex-row-reverse.crud-col-4, .crud-col-flex-row-reverse.crud-col-5, .crud-col-flex-row-reverse.crud-col-6, .crud-col-flex-row-reverse.crud-col-7, .crud-col-flex-row-reverse.crud-col-8, .crud-col-flex-row-reverse.crud-col-9, .crud-col-flex-row-reverse.crud-col-10, .crud-col-flex-row-reverse.crud-col-11, .crud-col-flex-row-reverse.crud-col-12, .crud-col-flex-row-reverse.crud-col-offset-0, .crud-col-flex-row-reverse.crud-col-offset-1, .crud-col-flex-row-reverse.crud-col-offset-2, .crud-col-flex-row-reverse.crud-col-offset-3, .crud-col-flex-row-reverse.crud-col-offset-4, .crud-col-flex-row-reverse.crud-col-offset-5, .crud-col-flex-row-reverse.crud-col-offset-6, .crud-col-flex-row-reverse.crud-col-offset-7, .crud-col-flex-row-reverse.crud-col-offset-8, .crud-col-flex-row-reverse.crud-col-offset-9, .crud-col-flex-row-reverse.crud-col-offset-10, .crud-col-flex-row-reverse.crud-col-offset-11 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }

/*
 * Generates classes and media queries for each defined tier:
 */
/*
 * All col- classes of tiers (sm and up) need to be of 100% width until their tier is reached.
 */
.crud-col-sm-1 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-sm-2 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-sm-3 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-sm-4 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-sm-5 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-sm-6 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-sm-7 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-sm-8 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-sm-9 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-sm-10 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-sm-11 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-sm-12 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-sm-offset-0 {
  margin-left: 0; }

.crud-col-sm-offset-1 {
  margin-left: 0; }

.crud-col-sm-offset-2 {
  margin-left: 0; }

.crud-col-sm-offset-3 {
  margin-left: 0; }

.crud-col-sm-offset-4 {
  margin-left: 0; }

.crud-col-sm-offset-5 {
  margin-left: 0; }

.crud-col-sm-offset-6 {
  margin-left: 0; }

.crud-col-sm-offset-7 {
  margin-left: 0; }

.crud-col-sm-offset-8 {
  margin-left: 0; }

.crud-col-sm-offset-9 {
  margin-left: 0; }

.crud-col-sm-offset-10 {
  margin-left: 0; }

.crud-col-sm-offset-11 {
  margin-left: 0; }

@media only screen and (min-width: 48em) {
  .crud-container {
    width: 49em;
    max-width: 100%; }

  .crud-col-sm.crud-col-sm, .crud-col-sm-1, .crud-col-sm-2, .crud-col-sm-3, .crud-col-sm-4, .crud-col-sm-5, .crud-col-sm-6, .crud-col-sm-7, .crud-col-sm-8, .crud-col-sm-9, .crud-col-sm-10, .crud-col-sm-11, .crud-col-sm-12, .crud-col-sm-offset-0, .crud-col-sm-offset-1, .crud-col-sm-offset-2, .crud-col-sm-offset-3, .crud-col-sm-offset-4, .crud-col-sm-offset-5, .crud-col-sm-offset-6, .crud-col-sm-offset-7, .crud-col-sm-offset-8, .crud-col-sm-offset-9, .crud-col-sm-offset-10, .crud-col-sm-offset-11 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding-right: 0.5em;
    padding-left: 0.5em; }

  .crud-col-sm-1.crud-col-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }

  .crud-col-sm-2.crud-col-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }

  .crud-col-sm-3.crud-col-sm-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .crud-col-sm-4.crud-col-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }

  .crud-col-sm-5.crud-col-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }

  .crud-col-sm-6.crud-col-sm-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .crud-col-sm-7.crud-col-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }

  .crud-col-sm-8.crud-col-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }

  .crud-col-sm-9.crud-col-sm-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .crud-col-sm-10.crud-col-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }

  .crud-col-sm-11.crud-col-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }

  .crud-col-sm-12.crud-col-sm-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .crud-col-sm-offset-0.crud-col-sm-offset-0 {
    margin-left: 0%; }

  .crud-col-sm-offset-1.crud-col-sm-offset-1 {
    margin-left: 8.3333333333%; }

  .crud-col-sm-offset-2.crud-col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .crud-col-sm-offset-3.crud-col-sm-offset-3 {
    margin-left: 25%; }

  .crud-col-sm-offset-4.crud-col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .crud-col-sm-offset-5.crud-col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .crud-col-sm-offset-6.crud-col-sm-offset-6 {
    margin-left: 50%; }

  .crud-col-sm-offset-7.crud-col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .crud-col-sm-offset-8.crud-col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .crud-col-sm-offset-9.crud-col-sm-offset-9 {
    margin-left: 75%; }

  .crud-col-sm-offset-10.crud-col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .crud-col-sm-offset-11.crud-col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .crud-col-flex-start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
    text-align: start; }

  .crud-col-flex-center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }

  .crud-col-flex-end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
    text-align: end; }

  .crud-col-flex-top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

  .crud-col-flex-middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    align-self: center; }

  .crud-col-flex-bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

  .crud-col-flex-around-sm {
    -ms-flex-pack: justify;
    justify-content: space-around; }

  .crud-col-flex-between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  .crud-col-flex-first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }

  .crud-col-flex-last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }
/*
 * All col- classes of tiers (sm and up) need to be of 100% width until their tier is reached.
 */
.crud-col-md-1 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-md-2 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-md-3 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-md-4 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-md-5 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-md-6 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-md-7 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-md-8 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-md-9 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-md-10 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-md-11 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-md-12 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-md-offset-0 {
  margin-left: 0; }

.crud-col-md-offset-1 {
  margin-left: 0; }

.crud-col-md-offset-2 {
  margin-left: 0; }

.crud-col-md-offset-3 {
  margin-left: 0; }

.crud-col-md-offset-4 {
  margin-left: 0; }

.crud-col-md-offset-5 {
  margin-left: 0; }

.crud-col-md-offset-6 {
  margin-left: 0; }

.crud-col-md-offset-7 {
  margin-left: 0; }

.crud-col-md-offset-8 {
  margin-left: 0; }

.crud-col-md-offset-9 {
  margin-left: 0; }

.crud-col-md-offset-10 {
  margin-left: 0; }

.crud-col-md-offset-11 {
  margin-left: 0; }

@media only screen and (min-width: 64em) {
  .crud-container {
    width: 65em;
    max-width: 100%; }

  .crud-col-md.crud-col-md, .crud-col-md-1, .crud-col-md-2, .crud-col-md-3, .crud-col-md-4, .crud-col-md-5, .crud-col-md-6, .crud-col-md-7, .crud-col-md-8, .crud-col-md-9, .crud-col-md-10, .crud-col-md-11, .crud-col-md-12, .crud-col-md-offset-0, .crud-col-md-offset-1, .crud-col-md-offset-2, .crud-col-md-offset-3, .crud-col-md-offset-4, .crud-col-md-offset-5, .crud-col-md-offset-6, .crud-col-md-offset-7, .crud-col-md-offset-8, .crud-col-md-offset-9, .crud-col-md-offset-10, .crud-col-md-offset-11 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding-right: 0.5em;
    padding-left: 0.5em; }

  .crud-col-md-1.crud-col-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }

  .crud-col-md-2.crud-col-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }

  .crud-col-md-3.crud-col-md-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .crud-col-md-4.crud-col-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }

  .crud-col-md-5.crud-col-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }

  .crud-col-md-6.crud-col-md-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .crud-col-md-7.crud-col-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }

  .crud-col-md-8.crud-col-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }

  .crud-col-md-9.crud-col-md-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .crud-col-md-10.crud-col-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }

  .crud-col-md-11.crud-col-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }

  .crud-col-md-12.crud-col-md-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .crud-col-md-offset-0.crud-col-md-offset-0 {
    margin-left: 0%; }

  .crud-col-md-offset-1.crud-col-md-offset-1 {
    margin-left: 8.3333333333%; }

  .crud-col-md-offset-2.crud-col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .crud-col-md-offset-3.crud-col-md-offset-3 {
    margin-left: 25%; }

  .crud-col-md-offset-4.crud-col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .crud-col-md-offset-5.crud-col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .crud-col-md-offset-6.crud-col-md-offset-6 {
    margin-left: 50%; }

  .crud-col-md-offset-7.crud-col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .crud-col-md-offset-8.crud-col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .crud-col-md-offset-9.crud-col-md-offset-9 {
    margin-left: 75%; }

  .crud-col-md-offset-10.crud-col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .crud-col-md-offset-11.crud-col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .crud-col-flex-start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
    text-align: start; }

  .crud-col-flex-center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }

  .crud-col-flex-end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
    text-align: end; }

  .crud-col-flex-top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

  .crud-col-flex-middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    align-self: center; }

  .crud-col-flex-bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

  .crud-col-flex-around-md {
    -ms-flex-pack: justify;
    justify-content: space-around; }

  .crud-col-flex-between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  .crud-col-flex-first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }

  .crud-col-flex-last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }
/*
 * All col- classes of tiers (sm and up) need to be of 100% width until their tier is reached.
 */
.crud-col-lg-1 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-lg-2 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-lg-3 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-lg-4 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-lg-5 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-lg-6 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-lg-7 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-lg-8 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-lg-9 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-lg-10 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-lg-11 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-lg-12 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-lg-offset-0 {
  margin-left: 0; }

.crud-col-lg-offset-1 {
  margin-left: 0; }

.crud-col-lg-offset-2 {
  margin-left: 0; }

.crud-col-lg-offset-3 {
  margin-left: 0; }

.crud-col-lg-offset-4 {
  margin-left: 0; }

.crud-col-lg-offset-5 {
  margin-left: 0; }

.crud-col-lg-offset-6 {
  margin-left: 0; }

.crud-col-lg-offset-7 {
  margin-left: 0; }

.crud-col-lg-offset-8 {
  margin-left: 0; }

.crud-col-lg-offset-9 {
  margin-left: 0; }

.crud-col-lg-offset-10 {
  margin-left: 0; }

.crud-col-lg-offset-11 {
  margin-left: 0; }

@media only screen and (min-width: 75em) {
  .crud-container {
    width: 76em;
    max-width: 100%; }

  .crud-col-lg.crud-col-lg, .crud-col-lg-1, .crud-col-lg-2, .crud-col-lg-3, .crud-col-lg-4, .crud-col-lg-5, .crud-col-lg-6, .crud-col-lg-7, .crud-col-lg-8, .crud-col-lg-9, .crud-col-lg-10, .crud-col-lg-11, .crud-col-lg-12, .crud-col-lg-offset-0, .crud-col-lg-offset-1, .crud-col-lg-offset-2, .crud-col-lg-offset-3, .crud-col-lg-offset-4, .crud-col-lg-offset-5, .crud-col-lg-offset-6, .crud-col-lg-offset-7, .crud-col-lg-offset-8, .crud-col-lg-offset-9, .crud-col-lg-offset-10, .crud-col-lg-offset-11 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding-right: 0.5em;
    padding-left: 0.5em; }

  .crud-col-lg-1.crud-col-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }

  .crud-col-lg-2.crud-col-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }

  .crud-col-lg-3.crud-col-lg-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .crud-col-lg-4.crud-col-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }

  .crud-col-lg-5.crud-col-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }

  .crud-col-lg-6.crud-col-lg-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .crud-col-lg-7.crud-col-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }

  .crud-col-lg-8.crud-col-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }

  .crud-col-lg-9.crud-col-lg-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .crud-col-lg-10.crud-col-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }

  .crud-col-lg-11.crud-col-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }

  .crud-col-lg-12.crud-col-lg-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .crud-col-lg-offset-0.crud-col-lg-offset-0 {
    margin-left: 0%; }

  .crud-col-lg-offset-1.crud-col-lg-offset-1 {
    margin-left: 8.3333333333%; }

  .crud-col-lg-offset-2.crud-col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .crud-col-lg-offset-3.crud-col-lg-offset-3 {
    margin-left: 25%; }

  .crud-col-lg-offset-4.crud-col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .crud-col-lg-offset-5.crud-col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .crud-col-lg-offset-6.crud-col-lg-offset-6 {
    margin-left: 50%; }

  .crud-col-lg-offset-7.crud-col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .crud-col-lg-offset-8.crud-col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .crud-col-lg-offset-9.crud-col-lg-offset-9 {
    margin-left: 75%; }

  .crud-col-lg-offset-10.crud-col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .crud-col-lg-offset-11.crud-col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .crud-col-flex-start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
    text-align: start; }

  .crud-col-flex-center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }

  .crud-col-flex-end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
    text-align: end; }

  .crud-col-flex-top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

  .crud-col-flex-middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    align-self: center; }

  .crud-col-flex-bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

  .crud-col-flex-around-lg {
    -ms-flex-pack: justify;
    justify-content: space-around; }

  .crud-col-flex-between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  .crud-col-flex-first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }

  .crud-col-flex-last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }
/*
 * All col- classes of tiers (sm and up) need to be of 100% width until their tier is reached.
 */
.crud-col-xl-1 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-xl-2 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-xl-3 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-xl-4 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-xl-5 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-xl-6 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-xl-7 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-xl-8 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-xl-9 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-xl-10 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-xl-11 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-xl-12 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-xl-offset-0 {
  margin-left: 0; }

.crud-col-xl-offset-1 {
  margin-left: 0; }

.crud-col-xl-offset-2 {
  margin-left: 0; }

.crud-col-xl-offset-3 {
  margin-left: 0; }

.crud-col-xl-offset-4 {
  margin-left: 0; }

.crud-col-xl-offset-5 {
  margin-left: 0; }

.crud-col-xl-offset-6 {
  margin-left: 0; }

.crud-col-xl-offset-7 {
  margin-left: 0; }

.crud-col-xl-offset-8 {
  margin-left: 0; }

.crud-col-xl-offset-9 {
  margin-left: 0; }

.crud-col-xl-offset-10 {
  margin-left: 0; }

.crud-col-xl-offset-11 {
  margin-left: 0; }

@media only screen and (min-width: 83em) {
  .crud-container {
    width: 84em;
    max-width: 100%; }

  .crud-col-xl.crud-col-xl, .crud-col-xl-1, .crud-col-xl-2, .crud-col-xl-3, .crud-col-xl-4, .crud-col-xl-5, .crud-col-xl-6, .crud-col-xl-7, .crud-col-xl-8, .crud-col-xl-9, .crud-col-xl-10, .crud-col-xl-11, .crud-col-xl-12, .crud-col-xl-offset-0, .crud-col-xl-offset-1, .crud-col-xl-offset-2, .crud-col-xl-offset-3, .crud-col-xl-offset-4, .crud-col-xl-offset-5, .crud-col-xl-offset-6, .crud-col-xl-offset-7, .crud-col-xl-offset-8, .crud-col-xl-offset-9, .crud-col-xl-offset-10, .crud-col-xl-offset-11 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding-right: 0.5em;
    padding-left: 0.5em; }

  .crud-col-xl-1.crud-col-xl-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }

  .crud-col-xl-2.crud-col-xl-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }

  .crud-col-xl-3.crud-col-xl-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .crud-col-xl-4.crud-col-xl-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }

  .crud-col-xl-5.crud-col-xl-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }

  .crud-col-xl-6.crud-col-xl-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .crud-col-xl-7.crud-col-xl-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }

  .crud-col-xl-8.crud-col-xl-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }

  .crud-col-xl-9.crud-col-xl-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .crud-col-xl-10.crud-col-xl-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }

  .crud-col-xl-11.crud-col-xl-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }

  .crud-col-xl-12.crud-col-xl-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .crud-col-xl-offset-0.crud-col-xl-offset-0 {
    margin-left: 0%; }

  .crud-col-xl-offset-1.crud-col-xl-offset-1 {
    margin-left: 8.3333333333%; }

  .crud-col-xl-offset-2.crud-col-xl-offset-2 {
    margin-left: 16.6666666667%; }

  .crud-col-xl-offset-3.crud-col-xl-offset-3 {
    margin-left: 25%; }

  .crud-col-xl-offset-4.crud-col-xl-offset-4 {
    margin-left: 33.3333333333%; }

  .crud-col-xl-offset-5.crud-col-xl-offset-5 {
    margin-left: 41.6666666667%; }

  .crud-col-xl-offset-6.crud-col-xl-offset-6 {
    margin-left: 50%; }

  .crud-col-xl-offset-7.crud-col-xl-offset-7 {
    margin-left: 58.3333333333%; }

  .crud-col-xl-offset-8.crud-col-xl-offset-8 {
    margin-left: 66.6666666667%; }

  .crud-col-xl-offset-9.crud-col-xl-offset-9 {
    margin-left: 75%; }

  .crud-col-xl-offset-10.crud-col-xl-offset-10 {
    margin-left: 83.3333333333%; }

  .crud-col-xl-offset-11.crud-col-xl-offset-11 {
    margin-left: 91.6666666667%; }

  .crud-col-flex-start-xl {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
    text-align: start; }

  .crud-col-flex-center-xl {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }

  .crud-col-flex-end-xl {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
    text-align: end; }

  .crud-col-flex-top-xl {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

  .crud-col-flex-middle-xl {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    align-self: center; }

  .crud-col-flex-bottom-xl {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

  .crud-col-flex-around-xl {
    -ms-flex-pack: justify;
    justify-content: space-around; }

  .crud-col-flex-between-xl {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  .crud-col-flex-first-xl {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }

  .crud-col-flex-last-xl {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }
/*
 * Extra small (no-tag)
 */
.crud-col-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%; }

.crud-col-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%; }

.crud-col-3 {
  flex-basis: 25%;
  max-width: 25%; }

.crud-col-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%; }

.crud-col-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%; }

.crud-col-6 {
  flex-basis: 50%;
  max-width: 50%; }

.crud-col-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%; }

.crud-col-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%; }

.crud-col-9 {
  flex-basis: 75%;
  max-width: 75%; }

.crud-col-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%; }

.crud-col-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%; }

.crud-col-12 {
  flex-basis: 100%;
  max-width: 100%; }

.crud-col-offset-0 {
  margin-left: 0%; }

.crud-col-offset-1 {
  margin-left: 8.3333333333%; }

.crud-col-offset-2 {
  margin-left: 16.6666666667%; }

.crud-col-offset-3 {
  margin-left: 25%; }

.crud-col-offset-4 {
  margin-left: 33.3333333333%; }

.crud-col-offset-5 {
  margin-left: 41.6666666667%; }

.crud-col-offset-6 {
  margin-left: 50%; }

.crud-col-offset-7 {
  margin-left: 58.3333333333%; }

.crud-col-offset-8 {
  margin-left: 66.6666666667%; }

.crud-col-offset-9 {
  margin-left: 75%; }

.crud-col-offset-10 {
  margin-left: 83.3333333333%; }

.crud-col-offset-11 {
  margin-left: 91.6666666667%; }

.crud-col-flex-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
  text-align: start; }

.crud-col-flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.crud-col-flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
  text-align: end; }

.crud-col-flex-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.crud-col-flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-self: center; }

.crud-col-flex-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.crud-col-flex-around {
  -ms-flex-pack: justify;
  justify-content: space-around; }

.crud-col-flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.crud-col-flex-first {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.crud-col-flex-last {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.crud-instance-wrapper .crud-alert {
  width: 100%;
  line-height: inherit;
  margin: 0;
  padding: 0.8em 1.2em;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 0; }
  .crud-instance-wrapper .crud-alert.crud-alert-primary {
    background-color: #cce5ff;
    border-color: #b3d8ff;
    color: #003266; }
  .crud-instance-wrapper .crud-alert.crud-alert-secondary {
    background-color: #e7e7e7;
    border-color: #dadada;
    color: #353535; }
  .crud-instance-wrapper .crud-alert.crud-alert-info {
    background-color: #d1ecf1;
    border-color: #bde4eb;
    color: #164047; }
  .crud-instance-wrapper .crud-alert.crud-alert-success {
    background-color: #d4edda;
    border-color: #c2e5cb;
    color: #1b4124; }
  .crud-instance-wrapper .crud-alert.crud-alert-warning {
    background-color: #fff3cd;
    border-color: #ffedb4;
    color: #674e00; }
  .crud-instance-wrapper .crud-alert.crud-alert-danger {
    background-color: #f8d7da;
    border-color: #f4c1c6;
    color: #5a1017; }
  .crud-instance-wrapper .crud-alert.crud-alert-dismissible .close {
    float: right;
    font-size: 1.5em;
    font-weight: 700;
    line-height: .9;
    color: inherit;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    background: 0 0;
    border: 0;
    -webkit-appearance: none; }
    .crud-instance-wrapper .crud-alert.crud-alert-dismissible .close:hover {
      color: black;
      opacity: 0.75; }
  .crud-instance-wrapper .crud-alert.crud-alert-dismissible::after {
    content: "";
    clear: both;
    display: block; }
  .crud-instance-wrapper .crud-alert .crud-alert-heading {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: .3em; }
.crud-instance-wrapper .crud-message .crud-alert {
  margin-bottom: 0.5em; }

.crud-btn-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin: -.125em; }
  .crud-btn-wrapper.crud-btn-group, .crud-btn-wrapper .crud-btn-group {
    margin: 0; }
  .crud-btn-wrapper .crud-btn {
    height: fit-content;
    margin: 0.125em; }

.crud-btn-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap; }
  .crud-btn-group .crud-btn {
    margin: 0; }
    .crud-btn-group .crud-btn:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .crud-btn-group .crud-btn:not(:first-child):not(:last-child) {
      border-radius: 0; }
    .crud-btn-group .crud-btn:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }

.crud-btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5em .75em;
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25;
  border-radius: .25em;
  transition: all .1s ease-in-out; }
  .crud-btn.crud-btn-sm {
    padding: .35em .6em;
    font-size: .9em;
    border-radius: .2em; }
  .crud-btn:active {
    box-shadow: 0 0 0 0.2em rgba(0, 123, 255, 0.3); }
  .crud-btn:focus {
    outline: none; }
  .crud-btn.crud-btn-default {
    color: #1d1d1d;
    background-color: #e2e2e2; }
    .crud-btn.crud-btn-default:hover, .crud-btn.crud-btn-default:active, .crud-btn.crud-btn-default:focus {
      background-color: #d5d5d5; }
    .crud-btn.crud-btn-default:active, .crud-btn.crud-btn-default:focus {
      box-shadow: 0 0 0 0.2em rgba(226, 226, 226, 0.3); }
  .crud-btn.crud-btn-primary {
    color: #f0f0f0;
    background-color: #0275d8; }
    .crud-btn.crud-btn-primary:hover, .crud-btn.crud-btn-primary:active, .crud-btn.crud-btn-primary:focus {
      background-color: #0267bf;
      border-color: #0262b5; }
    .crud-btn.crud-btn-primary:active, .crud-btn.crud-btn-primary:focus {
      box-shadow: 0 0 0 0.2em rgba(2, 117, 216, 0.3); }
  .crud-btn.crud-btn-success {
    color: #f0f0f0;
    background-color: #5cb85c; }
    .crud-btn.crud-btn-success:hover, .crud-btn.crud-btn-success:active, .crud-btn.crud-btn-success:focus {
      background-color: #4cae4c;
      border-color: #49a749; }
    .crud-btn.crud-btn-success:active, .crud-btn.crud-btn-success:focus {
      box-shadow: 0 0 0 0.2em rgba(92, 184, 92, 0.3); }
  .crud-btn.crud-btn-warning {
    color: #f0f0f0;
    background-color: #f0ad4e; }
    .crud-btn.crud-btn-warning:hover, .crud-btn.crud-btn-warning:active, .crud-btn.crud-btn-warning:focus {
      background-color: #eea236;
      border-color: #ed9e2d; }
    .crud-btn.crud-btn-warning:active, .crud-btn.crud-btn-warning:focus {
      box-shadow: 0 0 0 0.2em rgba(240, 173, 78, 0.3); }
  .crud-btn.crud-btn-danger {
    color: #f0f0f0;
    background-color: #d9534f; }
    .crud-btn.crud-btn-danger:hover, .crud-btn.crud-btn-danger:active, .crud-btn.crud-btn-danger:focus {
      background-color: #d43f3a;
      border-color: #d33632; }
    .crud-btn.crud-btn-danger:active, .crud-btn.crud-btn-danger:focus {
      box-shadow: 0 0 0 0.2em rgba(217, 83, 79, 0.3); }

.crud-btn-default.crud-btn-disabled:hover,
.crud-btn-default.crud-btn-disabled:focus,
.crud-btn-default.crud-btn-disabled:active {
  background-color: #e2e2e2; }

.crud-btn-active,
.crud-btn-active:active,
.crud-btn-active:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  color: #fafafa; }

.crud-btn-disabled,
.crud-btn-disabled:hover {
  cursor: default; }

.crud-instance-wrapper .crud-input-field.crud-code-highlight {
  height: auto;
  max-height: 25em;
  z-index: 2; }
.crud-instance-wrapper .crud-code-flip-button {
  position: absolute;
  top: 18px;
  left: calc(100% - 100px);
  z-index: 3; }

.crud-instance-wrapper [data-input] {
  position: relative;
  z-index: 2;
  line-height: inherit; }
.crud-instance-wrapper .crud-input-field {
  display: block;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 2.75em;
  padding: .5rem .75rem;
  padding-right: 2em;
  margin: 0;
  color: #464a4c;
  background: #fff none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; }
.crud-instance-wrapper textarea.crud-input-field {
  height: auto;
  max-height: 25em; }
.crud-instance-wrapper .crud-limit {
  position: relative;
  float: right;
  right: .5em;
  top: -2.3em;
  margin-bottom: -1000px;
  color: darkgrey;
  z-index: 3;
  font-size: .9em; }
.crud-instance-wrapper .crud-form-group {
  margin-bottom: 1em; }
.crud-instance-wrapper .crud-form-label {
  padding: .4em 0;
  margin-bottom: 0; }
.crud-instance-wrapper .crud-field-label.bold {
  font-weight: 500; }

.crud-modal-template {
  display: none; }

.crud-modal .crud-modal-content {
  font-size: 1em; }
  .crud-modal .crud-modal-content .crud-modal-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em; }
    .crud-modal .crud-modal-content .crud-modal-header .crud-modal-title {
      margin: 0;
      font-size: 1.3em;
      font-weight: 500; }
  .crud-modal .crud-modal-content .crud-modal-body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em 1em; }
  .crud-modal .crud-modal-content .crud-modal-footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    padding: 0.75em 1em; }

.crud-instance-wrapper .crud-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: .75em;
  margin-bottom: .75em; }
  .crud-instance-wrapper .crud-nav.crud-nav-tabs {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-flow: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid lightgrey; }
    .crud-instance-wrapper .crud-nav.crud-nav-tabs .crud-nav-item {
      padding: 0; }
      .crud-instance-wrapper .crud-nav.crud-nav-tabs .crud-nav-item .crud-nav-link {
        display: block;
        padding: 0.5em 1em;
        border: 0;
        border-radius: 0;
        text-decoration: none;
        background-color: #c2c2c2;
        color: black; }
        .crud-instance-wrapper .crud-nav.crud-nav-tabs .crud-nav-item .crud-nav-link:hover, .crud-instance-wrapper .crud-nav.crud-nav-tabs .crud-nav-item .crud-nav-link:focus, .crud-instance-wrapper .crud-nav.crud-nav-tabs .crud-nav-item .crud-nav-link.crud-nav-link-active, .crud-instance-wrapper .crud-nav.crud-nav-tabs .crud-nav-item .crud-nav-link.crud-nav-link-active:hover, .crud-instance-wrapper .crud-nav.crud-nav-tabs .crud-nav-item .crud-nav-link.crud-nav-link-active:focus {
          background-color: #323232;
          color: white; }
.crud-instance-wrapper .crud-tab-content > .crud-tab-pane {
  display: none;
  margin-top: 1em; }
  .crud-instance-wrapper .crud-tab-content > .crud-tab-pane.crud-tab-pane-active {
    display: block; }

.crud-signature-pad .crud-signature-pad-controls .crud-btn-wrapper {
  background-color: cornflowerblue;
  border: .1em solid grey;
  padding: .15em;
  margin: 0; }
.crud-signature-pad .crud-signature-pad-canvas-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  user-select: none;
  max-height: 30em;
  border: 0.1em solid grey;
  border-top: none; }
  .crud-signature-pad .crud-signature-pad-canvas-wrapper .crud-signature-pad-canvas {
    width: 100em;
    height: 30em;
    background-color: beige;
    margin-bottom: -.4em; }
  .crud-signature-pad .crud-signature-pad-canvas-wrapper .crud-signature-pad-canvas-overlay {
    touch-action: manipulation;
    position: relative;
    bottom: 30em;
    width: 100em;
    height: 30em;
    background-color: lightgrey;
    opacity: 0.5;
    z-index: 2; }

.crud-signature-image-wrapper .crud-signature-image {
  display: block;
  width: 100em;
  height: 30em;
  background-color: beige;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
  border-radius: 0.25em; }

.crud-instance-wrapper .crud-table-wrapper {
  width: 100%;
  overflow-x: auto; }
  .crud-instance-wrapper .crud-table-wrapper .crud-table {
    margin: 0;
    width: 100%;
    font-size: 1em;
    line-height: 1.35; }
    .crud-instance-wrapper .crud-table-wrapper .crud-table th.crud-column-ordered, .crud-instance-wrapper .crud-table-wrapper .crud-table td.crud-column-ordered {
      background-color: #ebebeb; }
    .crud-instance-wrapper .crud-table-wrapper .crud-table th {
      padding: 0.7em; }
      .crud-instance-wrapper .crud-table-wrapper .crud-table th.crud-column-header {
        vertical-align: top; }
    .crud-instance-wrapper .crud-table-wrapper .crud-table td {
      padding: 0.7em;
      text-align: left;
      text-align: start;
      vertical-align: top; }
      .crud-instance-wrapper .crud-table-wrapper .crud-table td.crud-inlineedit {
        /*white-space: nowrap;*/ }
      .crud-instance-wrapper .crud-table-wrapper .crud-table td .crud-inlineedit-btn {
        visibility: hidden;
        transition: unset;
        vertical-align: top; }
      .crud-instance-wrapper .crud-table-wrapper .crud-table td:hover {
        box-shadow: 2px 2px 15px -2px #323232; }
        .crud-instance-wrapper .crud-table-wrapper .crud-table td:hover .crud-inlineedit-btn {
          visibility: visible;
          transition: visibility 0ms; }
    .crud-instance-wrapper .crud-table-wrapper .crud-table.crud-table-bordered {
      border-collapse: collapse; }
      .crud-instance-wrapper .crud-table-wrapper .crud-table.crud-table-bordered td, .crud-instance-wrapper .crud-table-wrapper .crud-table.crud-table-bordered th {
        border: 0.05em solid #e9e9e9; }
      .crud-instance-wrapper .crud-table-wrapper .crud-table.crud-table-bordered th {
        border-bottom: 0.15em solid #e9e9e9; }
    .crud-instance-wrapper .crud-table-wrapper .crud-table.crud-table-striped tr:nth-child(2n) {
      background-color: #ffffeb; }
    .crud-instance-wrapper .crud-table-wrapper .crud-table.crud-table-hoverable tbody tr:hover {
      background-color: #e9e9e9; }
.crud-instance-wrapper .crud-column-header .crud-column-header-main-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .crud-instance-wrapper .crud-column-header .crud-column-header-main-row .crud-order-by-sign {
    font-size: 1em;
    font-weight: 400;
    margin-right: .3em; }
.crud-instance-wrapper .crud-column-header .crud-column-info {
  font-weight: 400;
  font-size: .85em;
  margin-top: .3em; }
.crud-instance-wrapper .crud-order-by-trigger {
  cursor: pointer; }
  .crud-instance-wrapper .crud-order-by-trigger:hover {
    background-color: #ebebeb; }

.crud-instance-wrapper .crud-tooltip-origin {
  cursor: pointer;
  user-select: none; }
  .crud-instance-wrapper .crud-tooltip-origin.crud-column-tooltip, .crud-instance-wrapper .crud-tooltip-origin.crud-field-tooltip {
    margin-left: .25em; }
.crud-instance-wrapper .crud-tooltip-icon {
  font-size: 1.4em;
  color: #0d517e; }

.crud-instance-wrapper .crud-validation-error,
.crud-instance-wrapper .select2.select2-container.select2-container--default.crud-validation-error {
  border-color: tomato;
  color: tomato; }
  .crud-instance-wrapper .crud-validation-error:focus,
  .crud-instance-wrapper .select2.select2-container.select2-container--default.crud-validation-error:focus {
    border-color: tomato;
    color: tomato; }
.crud-instance-wrapper .crud-validation-success,
.crud-instance-wrapper .select2.select2-container.select2-container--default.crud-validation-success {
  border-color: #26b527;
  color: #26b527; }
  .crud-instance-wrapper .crud-validation-success:focus,
  .crud-instance-wrapper .select2.select2-container.select2-container--default.crud-validation-success:focus {
    border-color: #26b527;
    color: #26b527; }
.crud-instance-wrapper .crud-validation-msg-output {
  position: relative;
  width: 100%;
  background-color: tomato;
  margin-top: -0.7em;
  padding-top: 1em;
  padding-bottom: .5em;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  z-index: 1; }
  .crud-instance-wrapper .crud-validation-msg-output:empty {
    display: none; }
  .crud-instance-wrapper .crud-validation-msg-output ul {
    margin: 0; }
.crud-instance-wrapper .crud-signature-pad-canvas.crud-validation-error {
  box-shadow: 0 0 5px tomato inset; }
.crud-instance-wrapper.color-blindness-corrections .crud-validation-error,
.crud-instance-wrapper.color-blindness-corrections .select2.select2-container.select2-container--default.crud-validation-error {
  border-color: #a6611a;
  color: #a6611a; }
  .crud-instance-wrapper.color-blindness-corrections .crud-validation-error:focus,
  .crud-instance-wrapper.color-blindness-corrections .select2.select2-container.select2-container--default.crud-validation-error:focus {
    border-color: #a6611a;
    color: #a6611a; }
.crud-instance-wrapper.color-blindness-corrections .crud-validation-success,
.crud-instance-wrapper.color-blindness-corrections .select2.select2-container.select2-container--default.crud-validation-success {
  border-color: #018571;
  color: #018571; }
  .crud-instance-wrapper.color-blindness-corrections .crud-validation-success:focus,
  .crud-instance-wrapper.color-blindness-corrections .select2.select2-container.select2-container--default.crud-validation-success:focus {
    border-color: #018571;
    color: #018571; }
.crud-instance-wrapper.color-blindness-corrections .crud-validation-msg-output {
  background-color: #a6611a;
  color: white; }
.crud-instance-wrapper.color-blindness-corrections .crud-signature-pad-canvas.crud-validation-error {
  box-shadow: 0 0 5px #a6611a inset; }

.crud-animated-switch {
  display: inline-block;
  vertical-align: top; }
  .crud-animated-switch > input[type="checkbox"] {
    display: none; }
  .crud-animated-switch > label {
    cursor: pointer;
    position: relative;
    width: 3.5em;
    height: 2em;
    margin: 0; }
    .crud-animated-switch > label:before {
      background: #e1e1e1;
      box-shadow: inset 0 0 0.6em rgba(0, 0, 0, 0.2);
      border-radius: .6em;
      content: '';
      position: absolute;
      transition: all 0.3s ease-in-out;
      width: 2.8em;
      height: 1.2em;
      left: .4em;
      top: .4em; }
    .crud-animated-switch > label:after {
      background: white;
      border-radius: 1em;
      box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.4);
      content: '';
      position: absolute;
      left: .2em;
      top: .2em;
      transition: all 0.2s ease-in-out;
      width: 1.6em;
      height: 1.6em; }

.crud-animated-switch > input[type="checkbox"]:checked + label::before {
  background: #e1e1e1; }

.crud-animated-switch > input[type="checkbox"]:checked + label::after {
  background: #41ae3c;
  left: 1.6em; }

.crud-instance-wrapper .select2.select2-container {
  min-height: 2.75em; }
.crud-instance-wrapper .select2.select2-container.select2-container--default {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25em;
  z-index: 2; }
.crud-instance-wrapper .select2.select2-container.select2-container--default.select2-container--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
.crud-instance-wrapper .select2 .select2-selection {
  border: 0;
  height: inherit;
  background-color: unset; }
.crud-instance-wrapper .select2-selection__rendered {
  color: #55595c !important;
  padding: .5rem .75rem !important;
  padding-right: 3rem !important;
  line-height: inherit !important; }
.crud-instance-wrapper .select2-selection__rendered .select2-selection__clear {
  margin-right: 13px !important; }
.crud-instance-wrapper .select2-selection--multiple .select2-selection__rendered {
  padding: 0 5px !important; }
.crud-instance-wrapper .select2-selection__choice {
  margin-top: 5px !important;
  margin-right: 5px !important;
  margin-bottom: 5px !important;
  border: 0 !important;
  line-height: 28px !important; }
.crud-instance-wrapper .select2-selection--multiple .select2-selection__choice {
  line-height: 30px !important; }
.crud-instance-wrapper .select2-selection__arrow {
  height: 100% !important;
  width: 3rem !important;
  top: 0 !important;
  right: 0 !important; }

.crud-instance-wrapper .sp-replacer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25em;
  height: 2.75em;
  margin: 0;
  padding: .25em 0 .25em .25em;
  background-color: white;
  color: initial; }
  .crud-instance-wrapper .sp-replacer .sp-preview {
    display: inline-flex;
    float: none;
    width: calc(100% - 2.5em);
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0; }
  .crud-instance-wrapper .sp-replacer .sp-dd {
    display: inline-flex;
    float: none;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    width: 2.5em;
    height: 100%;
    cursor: pointer;
    margin: auto;
    padding: 0;
    line-height: inherit; }
.crud-instance-wrapper .sp-container {
  background-color: #ececec;
  border: 1px solid darkgrey;
  border-radius: .5em;
  padding: 0;
  /*
   * The original value of 9999994 seems a little bit over the top ^^
   * And the container would then actually overlap fullscreen instances.
   * A z-index of ~500 should suffice.
   */
  z-index: 500;
  font-size: .8em; }
  .crud-instance-wrapper .sp-container * {
    font-size: inherit; }
  .crud-instance-wrapper .sp-container .sp-palette-container,
  .crud-instance-wrapper .sp-container .sp-picker-container {
    border: 0;
    padding: 0;
    margin: 0;
    max-width: unset; }
  .crud-instance-wrapper .sp-container .sp-palette-container {
    padding: 0.75em; }
    .crud-instance-wrapper .sp-container .sp-palette-container .sp-palette {
      max-width: unset; }
      .crud-instance-wrapper .sp-container .sp-palette-container .sp-palette .sp-palette-row .sp-thumb-el {
        width: 2em;
        height: 2em;
        margin: .0em .0em;
        border: 0; }
      .crud-instance-wrapper .sp-container .sp-palette-container .sp-palette .sp-palette-row.sp-palette-row-selection .sp-thumb-el {
        margin-top: 0.3em; }
  .crud-instance-wrapper .sp-container .sp-picker-container {
    width: 22em;
    padding: 0.75em; }
    .crud-instance-wrapper .sp-container .sp-picker-container .sp-fill {
      display: none;
      padding: 0;
      margin: 0; }
    .crud-instance-wrapper .sp-container .sp-picker-container .sp-top-inner {
      position: relative; }
    .crud-instance-wrapper .sp-container .sp-picker-container .sp-color, .crud-instance-wrapper .sp-container .sp-picker-container .sp-hue, .crud-instance-wrapper .sp-container .sp-picker-container .sp-clear {
      border: 0; }
    .crud-instance-wrapper .sp-container .sp-picker-container .sp-color {
      position: relative;
      float: left;
      width: 16em;
      height: 16em;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
      .crud-instance-wrapper .sp-container .sp-picker-container .sp-color .sp-dragger {
        border-radius: .4em;
        height: .6em;
        width: .6em;
        border: 1px solid black;
        background: white;
        opacity: .8;
        cursor: default;
        position: absolute;
        top: 0;
        left: 0; }
    .crud-instance-wrapper .sp-container .sp-picker-container .sp-clear {
      display: inline-block;
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 3em;
      width: 3em;
      margin-left: 1em; }
    .crud-instance-wrapper .sp-container .sp-picker-container .sp-hue {
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      cursor: default; }
      .crud-instance-wrapper .sp-container .sp-picker-container .sp-hue .sp-slider {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: default;
        height: .5em;
        margin-left: -.2em;
        margin-right: -.2em;
        border: 1px solid black;
        background: white;
        opacity: .7; }
    .crud-instance-wrapper .sp-container .sp-picker-container .sp-input-container {
      float: right;
      width: 10em;
      margin: 0; }
      .crud-instance-wrapper .sp-container .sp-picker-container .sp-input-container input {
        border: 1px solid darkgrey;
        border-radius: 0; }
    .crud-instance-wrapper .sp-container .sp-picker-container .sp-initial {
      float: left;
      border: 0; }
  .crud-instance-wrapper .sp-container.sp-clear-enabled .sp-hue {
    display: inline-block;
    height: 13em;
    width: 3em;
    margin-left: 1em; }

.crud-instance-wrapper .mce-tinymce {
  z-index: 2;
  box-sizing: border-box; }
  .crud-instance-wrapper .mce-tinymce.mce-fullscreen {
    z-index: 1000; }

.crud-instance-wrapper .crud-m-0 {
  margin: 0; }
.crud-instance-wrapper .crud-mt-0 {
  margin-top: 0; }
.crud-instance-wrapper .crud-mb-0 {
  margin-bottom: 0; }
.crud-instance-wrapper .crud-pull-right {
  float: right; }

/*# sourceMappingURL=crud.css.map */
