@import "../mixins/crud_mixins";

$std_btn_box_shadow_color: #007BFF;
$btn_box_shadow_opacity: .3;

$btn_default_text_color: $std_text_color_dark;
$btn_default_text_color_hover: $std_text_color_dark;
$btn_default_background_color: $default_color;
$btn_default_background_color_hover: $default_color_d5;
$btn_default_border_color: $default_color;
$btn_default_border_color_hover: $default_color;
$btn_default_box_shadow_color: rgba($default_color, $btn_box_shadow_opacity);

$btn_primary_dim_text_color: $std_text_color_bright;
$btn_primary_dim_text_color_hover: $std_text_color_bright;
$btn_primary_dim_background_color: $primary_color_dim;
$btn_primary_dim_background_color_hover: $primary_color_dim_d5;
$btn_primary_dim_border_color: $primary_color_dim;
$btn_primary_dim_border_color_hover: $primary_color_dim_d7;
$btn_primary_dim_box_shadow_color: rgba($primary_color_dim, $btn_box_shadow_opacity);

$btn_success_dim_text_color: $std_text_color_bright;
$btn_success_dim_text_color_hover: $std_text_color_bright;
$btn_success_dim_background_color: $success_color_dim;
$btn_success_dim_background_color_hover: $success_color_dim_d5;
$btn_success_dim_border_color: $success_color_dim;
$btn_success_dim_border_color_hover: $success_color_dim_d7;
$btn_success_dim_box_shadow_color: rgba($success_color_dim, $btn_box_shadow_opacity);

$btn_warning_dim_text_color: $std_text_color_bright;
$btn_warning_dim_text_color_hover: $std_text_color_bright;
$btn_warning_dim_background_color: $warning_color_dim;
$btn_warning_dim_background_color_hover: $warning_color_dim_d5;
$btn_warning_dim_border_color: $warning_color_dim;
$btn_warning_dim_border_color_hover: $warning_color_dim_d7;
$btn_warning_dim_box_shadow_color: rgba($warning_color_dim, $btn_box_shadow_opacity);

$btn_danger_dim_text_color: $std_text_color_bright;
$btn_danger_dim_text_color_hover: $std_text_color_bright;
$btn_danger_dim_background_color: $danger_color_dim;
$btn_danger_dim_background_color_hover: $danger_color_dim_d5;
$btn_danger_dim_border_color: $danger_color_dim;
$btn_danger_dim_border_color_hover: $danger_color_dim_d7;
$btn_danger_dim_box_shadow_color: rgba($danger_color_dim, $btn_box_shadow_opacity);

.crud-btn-wrapper {
    // Remove the gaps between the inline-block level buttons by using flexbox.
    @include display-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    margin: -.125em;
    &.crud-btn-group, .crud-btn-group {
        margin: 0;
    }

    .crud-btn {
        // Buttons should not stretch their height to fill the flexbox container.
        height: fit-content;

        // Right bottom margin.
        //margin: 0 .25em .25em 0;
        margin: 0.125em;
    }
}

.crud-btn-group {
    @include display-flex;

    flex-wrap: nowrap;

    .crud-btn {
        margin: 0;

        &:first-child:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:last-child:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.crud-btn {
    display: inline-block;

    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;

    border: 1px solid transparent;
    padding: .5em .75em;
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.25;
    border-radius: .25em;
    transition: all .1s ease-in-out;

    &.crud-btn-sm {
        padding: .35em .6em;
        font-size: .9em;
        border-radius: .2em;
    }

    &:active {
        box-shadow: 0 0 0 .2em rgba($std_btn_box_shadow_color, $btn_box_shadow_opacity);
    }
    &:focus {
        outline: none;
    }

    // BTN-DEFAULT
    &.crud-btn-default {
        color: $btn_default_text_color;
        background-color: $btn_default_background_color;
        &:hover, &:active, &:focus {
            background-color: $btn_default_background_color_hover;
        }
        &:active, &:focus {
            box-shadow: 0 0 0 .2em $btn_default_box_shadow_color;
        }
    }

    // BTN-PRIMARY
    &.crud-btn-primary {
        color: $btn_primary_dim_text_color;
        background-color: $btn_primary_dim_background_color;
        &:hover, &:active, &:focus {
            background-color: $btn_primary_dim_background_color_hover;
            border-color: $btn_primary_dim_border_color_hover;
        }
        &:active, &:focus {
            box-shadow: 0 0 0 .2em $btn_primary_dim_box_shadow_color;
        }
    }

    // BTN-SUCCESS
    &.crud-btn-success {
        color: $btn_success_dim_text_color;
        background-color: $btn_success_dim_background_color;
        &:hover, &:active, &:focus {
            background-color: $btn_success_dim_background_color_hover;
            border-color: $btn_success_dim_border_color_hover;
        }
        &:active, &:focus {
            box-shadow: 0 0 0 .2em $btn_success_dim_box_shadow_color;
        }
    }

    // BTN-WARNING
    &.crud-btn-warning {
        color: $btn_warning_dim_text_color;
        background-color: $btn_warning_dim_background_color;
        &:hover, &:active, &:focus {
            background-color: $btn_warning_dim_background_color_hover;
            border-color: $btn_warning_dim_border_color_hover;
        }
        &:active, &:focus {
            box-shadow: 0 0 0 .2em $btn_warning_dim_box_shadow_color;
        }
    }

    // BTN-DANGER
    &.crud-btn-danger {
        color: $btn_danger_dim_text_color;
        background-color: $btn_danger_dim_background_color;
        &:hover, &:active, &:focus {
            background-color: $btn_danger_dim_background_color_hover;
            border-color: $btn_danger_dim_border_color_hover;
        }
        &:active, &:focus {
            box-shadow: 0 0 0 .2em $btn_danger_dim_box_shadow_color;
        }
    }
}




.crud-btn-default.crud-btn-disabled:hover,
.crud-btn-default.crud-btn-disabled:focus,
.crud-btn-default.crud-btn-disabled:active {
    background-color: #e2e2e2;
}

.crud-btn-active,
.crud-btn-active:active,
.crud-btn-active:hover {
    background: linear-gradient(
                    rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.3)
    );
    color: rgb(250, 250, 250);
}

.crud-btn-disabled,
.crud-btn-disabled:hover {
    cursor: default;
}