@import "../mixins/crud_mixins";

$crud-modal-font-size: 1em;
$crud-modal-header-padding: 1em;
$crud-modal-body-padding: 1.5em 1em;
$crud-modal-footer-padding: 0.75em 1em;

.crud-modal-template {
    display: none;
}

.crud-modal {

    .crud-modal-content {
        font-size: $crud-modal-font-size;

        .crud-modal-header {
            @include display-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: $crud-modal-header-padding;

            .crud-modal-title {
                margin: 0;
                font-size: 1.3em;
                font-weight: 500;
            }
        }

        .crud-modal-body {
            @include display-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: $crud-modal-body-padding;
        }

        .crud-modal-footer {
            @include display-flex;
            justify-content: flex-end;
            padding: $crud-modal-footer-padding;
        }
    }

}