.crud-instance-wrapper {

    .crud-input-field.crud-code-highlight {
        height: auto;
        max-height: 25em;
        z-index: 2;
    }

    .crud-code-flip-button {
        position: absolute;
        top: 18px;
        left: calc(100% - 100px);
        z-index: 3;
    }

}