@import "../mixins/crud_mixins";
@import "core/crud_variables";

$crud-alert-border-color-darkener: 5%;
$crud-alert-text-color-darkener: 70%;

$crud-alert-vertical-padding: .8em;
$crud-alert-horizontal-padding: 1.2em;

.crud-instance-wrapper {

    .crud-alert {
        width: 100%;
        line-height: inherit;
        margin: 0;
        padding: $crud-alert-vertical-padding $crud-alert-horizontal-padding;
        background-color: white;
        border: 1px solid lightgrey;
        border-radius: 0;

        &.crud-alert-primary {
            background-color: $primary_color_light;
            border-color: darken($primary_color_light, $crud-alert-border-color-darkener);
            color: darken($primary_color_light, $crud-alert-text-color-darkener);
        }

        &.crud-alert-secondary {
            background-color: $secondary_color_light;
            border-color: darken($secondary_color_light, $crud-alert-border-color-darkener);
            color: darken($secondary_color_light, $crud-alert-text-color-darkener);
        }

        &.crud-alert-info {
            background-color: $info_color_light;
            border-color: darken($info_color_light, $crud-alert-border-color-darkener);
            color: darken($info_color_light, $crud-alert-text-color-darkener);
        }

        &.crud-alert-success {
            background-color: $success_color_light;
            border-color: darken($success_color_light, $crud-alert-border-color-darkener);
            color: darken($success_color_light, $crud-alert-text-color-darkener);
        }

        &.crud-alert-warning {
            background-color: $warning_color_light;
            border-color: darken($warning_color_light, $crud-alert-border-color-darkener);
            color: darken($warning_color_light, $crud-alert-text-color-darkener);
        }

        &.crud-alert-danger {
            background-color: $danger_color_light;
            border-color: darken($danger_color_light, $crud-alert-border-color-darkener);
            color: darken($danger_color_light, $crud-alert-text-color-darkener);
        }

        &.crud-alert-dismissible {
            .close {
                float: right;
                font-size: 1.5em;
                font-weight: 700;
                line-height: .9;
                color: inherit;
                text-shadow: 0 1px 0 #fff;
                opacity: .5;
                background: 0 0;
                border: 0;
                -webkit-appearance: none;

                &:hover {
                    color: black;
                    opacity: 0.75;
                }
            }

            &::after {
                content: "";
                clear: both;
                display:block;
            }
        }

        .crud-alert-heading {
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: .3em;
        }

    }

    .crud-message {
        .crud-alert {
            margin-bottom: 0.5em;
        }
    }

}
