@import "../mixins/crud_mixins";

$table_background_color: white;
$table_background_color_hover: darken(white, 10%);

$crud-table-border-color: lighten($std_text_color_dark, 80%);

$crud-order-by-color: darken(white, 8%);
$crud-column-background-if-ordered: $crud-order-by-color;

$table_header_cell_padding: .7em;
$table_body_cell_padding: .7em;

.crud-instance-wrapper {

    .crud-table-wrapper {
        width: 100%;
        overflow-x: auto;

        .crud-table {
            margin: 0;
            width: 100%;
            font-size: 1em;
            line-height: 1.35;

            //  On th's and td's
            th, td {
                &.crud-column-ordered {
                    background-color: $crud-column-background-if-ordered;
                }
            }

            // Only on th's
            th {
                padding: $table_header_cell_padding;

                &.crud-column-header {
                    vertical-align: top;
                }
            }

            // Only on td's
            td {
                padding: $table_body_cell_padding;
                //noinspection CssOverwrittenProperties
                text-align: left; // Backwards compatibility.
                //noinspection CssOverwrittenProperties
                text-align: start; // Modern approach.
                vertical-align: top;

                &.crud-inlineedit {
                    /*white-space: nowrap;*/
                }

                .crud-inlineedit-btn {
                    visibility: hidden;
                    transition: unset;
                    vertical-align: top;
                }

                &:hover {
                    box-shadow: 2px 2px 15px -2px rgb(50, 50, 50);

                    .crud-inlineedit-btn {
                        visibility: visible;
                        transition: visibility 0ms;
                    }
                }
            }

            &.crud-table-bordered {
                border-collapse: collapse;
                td, th {
                    border: .05em solid $crud-table-border-color;
                }
                th {
                    border-bottom: .15em solid $crud-table-border-color;
                }
            }

            &.crud-table-striped {
                tr:nth-child(2n) {
                    background-color: #ffffeb;
                }
            }

            &.crud-table-hoverable {
                tbody tr:hover {
                    background-color: $crud-table-border-color;
                }
            }
        }
    }

    // Table column header..
    .crud-column-header {

        &.crud-column-ordered {
        }

        .crud-column-header-main-row {
            @include display-flex;

            .crud-order-by-sign {
                font-size: 1em;
                font-weight: 400;
                margin-right: .3em;
            }

            .crud-column-name {
            }
        }

        .crud-column-info {
            font-weight: 400;
            font-size: .85em;
            margin-top: .3em;
        }
    }

    .crud-order-by-trigger {
        cursor: pointer;
        &:hover {
            background-color: $crud-order-by-color;
        }
    }

}