.crud-instance-wrapper {

    .crud-tooltip-origin {
        cursor: pointer;
        user-select: none;

        &.crud-column-tooltip, &.crud-field-tooltip {
            margin-left: .25em;
        }
    }

    .crud-tooltip-icon {
        font-size: 1.4em;
        color: #0d517e;
    }

}