$signature-pad-canvas-width: 100em;
$signature-pad-canvas-height: 30em;
$signature-pad-canvas-background-color: beige;
$signature-pad-canvas-overlay-background-color: lightgrey;
$signature-pad-canvas-overlay-opacity: .5;
$signature-pad-canvas-wrapper-border-width: .1em;
$signature-pad-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
$signature-pad-border-radius: .25em;

.crud-signature-pad {

    .crud-signature-pad-controls {
        .crud-btn-wrapper {
            background-color: cornflowerblue;
            border: .1em solid grey;
            padding: .15em;
            margin: 0;
        }

        .crud-signature-pad-unlock-button {
        }
        .crud-signature-pad-lock-button {
        }
        .crud-signature-pad-clear-button {
        }
    }

    .crud-signature-pad-canvas-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
        user-select: none;
        //max-width: $signature-pad-canvas-width;
        max-height: $signature-pad-canvas-height;
        border: $signature-pad-canvas-wrapper-border-width solid grey;
        border-top: none;
        //border-radius: $signature-pad-border-radius;


        .crud-signature-pad-canvas {
            width: $signature-pad-canvas-width;
            height: $signature-pad-canvas-height;
            background-color: $signature-pad-canvas-background-color;
            //box-shadow: $signature-pad-box-shadow;
            //border-radius: $signature-pad-border-radius;
            margin-bottom: -.4em;
        }

        .crud-signature-pad-canvas-overlay {
            touch-action: manipulation;
            position: relative;
            bottom: $signature-pad-canvas-height;
            width: $signature-pad-canvas-width;
            height: $signature-pad-canvas-height;
            background-color: $signature-pad-canvas-overlay-background-color;
            opacity: $signature-pad-canvas-overlay-opacity;
            z-index: 2;
        }

    }

}

.crud-signature-image-wrapper {

    .crud-signature-image {
        display: block;
        width: $signature-pad-canvas-width;
        height: $signature-pad-canvas-height;
        background-color: $signature-pad-canvas-background-color;
        box-shadow: $signature-pad-box-shadow;
        border-radius: $signature-pad-border-radius;
    }

}