.crud-instance-wrapper {

    [data-input] {
        position: relative;
        z-index: 2;
        line-height: inherit;
    }

    .crud-input-field {
        display: block;
        position: relative;
        z-index: 2;

        width: 100%;
        height: 2.75em;

        padding: .5rem .75rem;
        padding-right: 2em; // for limit
        margin: 0;

        color: #464a4c;
        background: #fff none;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: .25rem;

        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    }

    textarea.crud-input-field {
        height: auto;
        max-height: 25em;
    }

    .crud-limit {
        position: relative;
        float: right;
        right: .5em;
        top: -2.3em;
        margin-bottom: -1000px;
        color: darkgrey;
        z-index: 3;
        font-size: .9em;
    }

    .crud-form-group {
        margin-bottom: 1em;
    }

    .crud-form-label {
        padding: .4em 0;
        margin-bottom: 0;
    }

    .crud-field-label {
        &.bold {
            font-weight: 500;
        }
    }

}